@font-face {
    font-family: 'KOTRALEAP';
    src: url("../font/KOTRALEAP.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 100;
    src: url("../font/NotoSansKR-Thin.woff2") format('woff2'),
    url("../font/NotoSansKR-Thin.woff") format('woff'),
    url("../font/NotoSansKR-Thin.otf") format('opentype');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    src: url("../font/NotoSansKR-Light.woff2") format('woff2'),
    url("../font/NotoSansKR-Light.woff") format('woff'),
    url("../font/NotoSansKR-Light.otf") format('opentype');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url("../font/NotoSansKR-Regular.woff2") format('woff2'),
    url("../font/NotoSansKR-Regular.woff2") format('woff'),
    url("../font/NotoSansKR-Regular.otf") format('opentype');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    src: url("../font/NotoSansKR-Medium.woff2") format('woff2'),
    url("../font/NotoSansKR-Medium.woff") format('woff'),
    url("../font/NotoSansKR-Medium.otf") format('opentype');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    src: url("../font/NotoSansKR-Bold.woff2") format('woff2'),
    url("../font/NotoSansKR-Bold.woff") format('woff'),
    url("../font/NotoSansKR-Bold.otf") format('opentype');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 900;
    src: url("../font/NotoSansKR-Black.woff2") format('woff2'),
    url("../font/NotoSansKR-Black.woff") format('woff'),
    url("../font/NotoSansKR-Black.otf") format('opentype');
}

body section {
    width: 100%;
    height: 100vh;
    background-color: #fff;
}

body .blan {
    height: 65vh;
}

body ul, body li {
    list-style: none;
    padding: 0;
}

body a {
    text-decoration: none;
}


body .content.news01 section.page01 {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

body .content.news01 section.page01 .bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

body .content.news01 section.page01 .bg img {
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 0.4;
    -o-object-fit: cover;
    object-fit: cover;
}

body .content.news01 section.page01 .page01-text {
    z-index: 1;
}

body .content.news01 section.page01 .page01-text h2 {
    font-size: 150px;
    color: #000;
    text-shadow: #fff 7px 10px;
    text-align: center;
    margin: 0;
    font-family: 'KOTRALEAP';
}

@media (max-width: 1200px) {
    body .content.news01 section.page01 .page01-text h2 {
        font-size: 50px;
    }
}

body .content.news01 section.page01 .page01-text h2 small {
    display: block;
    font-size: 45px;
    font-weight: 500;
    color: #000;
    margin: 15px 0 0;
    text-shadow: none;
    font-family: "Noto Sans KR";
}

@media (max-width: 1200px) {
    body .content.news01 section.page01 .page01-text h2 small {
        margin: 30px 0 0;
        font-size: 14px;
    }
}

body .content.news01 section.page01 .icon-scroll {
    position: absolute;
    left: 50%;
    bottom: 10%;
    display: block;
    width: 18px;
    height: 56px;
    z-index: 2;
    margin-left: -20px;
    -webkit-animation: updown 1s infinite alternate;
    animation: updown 1s infinite alternate;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

body .content.news01 section.page01 .icon-scroll i {
    color: #000;
    font-size: 50px;
}

@-webkit-keyframes updown {
    0% {
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

@keyframes updown {
    0% {
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

body .content.news01 section.page02 {
    height: auto;
    position: relative;
}

body .content.news01 section.page02 .scroll-graphic {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 100vh;
    -webkit-transition: all 1s;
    transition: all 1s;
}

@media (max-width: 1200px) {
    body .content.news01 section.page02 .scroll-graphic {
        height: 100vh;
    }
}

body .content.news01 section.page02 .scroll-graphic .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

body .content.news01 section.page02 .scroll-graphic .bg img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-filter: brightness(40%);
    filter: brightness(40%);
}

body .content.news01 section.page02 .scroll-graphic .graphic-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 60%;
    height: 100vh;
    -webkit-transition: 1s;
    transition: 1s;
    opacity: 0;
    will-change: opacity;
}

@media (max-width: 1200px) {
    body .content.news01 section.page02 .scroll-graphic .graphic-item {
        padding: 100px 20px 0;
    }
}

body .content.news01 section.page02 .scroll-graphic .graphic-item.visible {
    opacity: 1;
}

body .content.news01 section.page02 .scroll-graphic .graphic-item .step {
    color: #fff;
    background: rgba(255, 255, 255, 0.9);
    width: 850px;
    padding: 50px 50px 50px 70px;
    border-radius: 5px;
}

@media (max-width: 1200px) {
    body .content.news01 section.page02 .scroll-graphic .graphic-item .step {
        width: 100%;
        padding: 50px 10px 50px 30px;
    }
}

body .content.news01 section.page02 .scroll-graphic .graphic-item .step p {
    text-align: start;
    font-size: 28px;
    font-weight: 500;
    margin: 0 auto;
    color: #000;
}

@media (max-width: 1200px) {
    body .content.news01 section.page02 .scroll-graphic .graphic-item .step p {
        font-size: 3vw;
    }
}

body .content.news01 section.page02 .blank {
    width: 100%;
    height: 100vh;
}

@media (max-width: 1200px) {
    body .content.news01 section.page02 .blank {
        height: 100vh;
    }
}

body .content.news01 section.page03 {
    position: relative;
}

body .content.news01 section.page03 .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

body .content.news01 section.page03 .bg img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    background: #fff;
    opacity: 0.4;
}

body .content.news01 section.page03 .page03-text {
    position: absolute;
    top: 10%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    width: 100%;
}

@media (max-width: 1200px) {
    body .content.news01 section.page03 .page03-text {
        top: 30%;
    }
}

body .content.news01 section.page03 .page03-text h2 {
    text-align: center;
    margin: 0;
    font-size: 60px;
}

@media (max-width: 1200px) {
    body .content.news01 section.page03 .page03-text h2 {
        font-size: 30px;
    }
}

body .content.news01 section.page03 .page03-text p {
    text-align: center;
    margin: 10px 0 0;
    font-size: 20px;
}

@media (max-width: 1200px) {
    body .content.news01 section.page03 .page03-text p {
        font-size: 10px;
    }
}

body .content.news01 section.page03 .page03-map {
    position: absolute;
    top: 55%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

body .content.news01 section.page03 .page03-map img {
    width: 900px;
}

@media (max-width: 1200px) {
    body .content.news01 section.page03 .page03-map img {
        width: 350px;
    }
}

body .content.news01 section.page03 .page03-map button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: red;
    display: block;
    position: absolute;
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    border: none;
}

@media (max-width: 1200px) {
    body .content.news01 section.page03 .page03-map button {
        width: 20px;
        height: 20px;
    }
}

body .content.news01 section.page03 .page03-map button:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

body .content.news01 section.page03 .page03-map button:focus {
    border: 2px solid #000;
}

body .content.news01 section.page03 .page03-map button.map-senter01 {
    top: 100px;
    right: 280px;
    background-color: green;
}

@media (max-width: 1200px) {
    body .content.news01 section.page03 .page03-map button.map-senter01 {
        top: 50px;
        right: 110px;
    }
}

body .content.news01 section.page03 .page03-map button.map-senter02 {
    top: 160px;
    right: 330px;
}

@media (max-width: 1200px) {
    body .content.news01 section.page03 .page03-map button.map-senter02 {
        top: 70px;
        right: 140px;
    }
}

body .content.news01 section.page03 .page03-map button.map-senter03 {
    bottom: 150px;
    right: 270px;
}

@media (max-width: 1200px) {
    body .content.news01 section.page03 .page03-map button.map-senter03 {
        bottom: 55px;
        right: 110px;
    }
}

body .content.news01 section.page03 .page03-map button.map-senter04 {
    bottom: 110px;
    left: 300px;
}

@media (max-width: 1200px) {
    body .content.news01 section.page03 .page03-map button.map-senter04 {
        bottom: 45px;
        left: 110px;
    }
}

body .content.news01 section.page03 .page03-modal {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 800px;
    background: #fff;
    text-align: center;
    padding: 30px 30px;
}

@media (max-width: 1200px) {
    body .content.news01 section.page03 .page03-modal {
        width: 380px;
    }
}

body .content.news01 section.page03 .page03-modal h3 {
    font-size: 40px;
    margin: 0 0 20px 0;
    font-weight: 500;
}

@media (max-width: 1200px) {
    body .content.news01 section.page03 .page03-modal h3 {
        font-size: 20px;
    }
}

@media (max-width: 1200px) {
    body .content.news01 section.page03 .page03-modal img {
        width: 100%;
    }
}

body .content.news01 section.page03 .page03-modal strong {
    display: block;
    font-size: 150px;
    color: red;
}

@media (max-width: 1200px) {
    body .content.news01 section.page03 .page03-modal strong {
        font-size: 50px;
    }
}

body .content.news01 section.page03 .page03-modal strong.active {
    color: green;
}

body .content.news01 section.page03 .page03-modal p {
    margin: 0;
    font-size: 28px;
}

@media (max-width: 1200px) {
    body .content.news01 section.page03 .page03-modal p {
        font-size: 10px;
    }
}

body .content.news01 section.page03 .page03-modal button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 0;
    border: none;
    background: none;
}

body .content.news01 section.page03 .page03-modal button i {
    font-size: 40px;
    color: #000;
}

@media (max-width: 1200px) {
    body .content.news01 section.page03 .page03-modal button i {
        font-size: 20px;
    }
}

body .content.news01 .page04 {
    height: auto;
    position: relative;
    padding: 120px 0 100px;
}

body .content.news01 .page04 .line-wrapper {
    display: block;
    width: 2px;
    height: 400vh;
    margin: 0 auto;
}

@media (max-width: 1200px) {
    body .content.news01 .page04 .line-wrapper {
        height: 300vh;
    }
}

body .content.news01 .page04 .line-wrapper .line-container {
    height: 100%;
    width: 1px;
    background: transparent;
}

body .content.news01 .page04 .line-wrapper .line-container .line-bar {
    width: 2px;
    min-height: 0;
    background: black;
    -webkit-transition: all 25s linear;
    transition: all 25s linear;
}

body .content.news01 .page04 .line-wrapper .line-container .line-bar.on {
    min-height: 100%;
}

body .content.news01 .page04 .page04-area {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    text-align: center;
    background-color: #fff;
    padding: 50px 0;
}

@media (max-width: 1200px) {
    body .content.news01 .page04 .page04-area {
        width: 100%;
        padding: 50px 20px;
    }
}

body .content.news01 .page04 .page04-area:nth-child(2) {
    margin-top: 40vh;
}

@media (max-width: 1200px) {
    body .content.news01 .page04 .page04-area:nth-child(2) {
        margin-top: 30vh;
    }
}

body .content.news01 .page04 .page04-area:nth-child(3) {
    margin-top: 160vh;
}

@media (max-width: 1200px) {
    body .content.news01 .page04 .page04-area:nth-child(3) {
        margin-top: 110vh;
    }
}

body .content.news01 .page04 .page04-area:nth-child(4) {
    margin-top: 280vh;
}

@media (max-width: 1200px) {
    body .content.news01 .page04 .page04-area:nth-child(4) {
        margin-top: 210vh;
    }
}

body .content.news01 .page04 .page04-area h3 {
    font-size: 60px;
    font-weight: 500;
    margin: 20px 0 30px;
    font-family: 'NotoSerifKR';
}

@media (max-width: 1200px) {
    body .content.news01 .page04 .page04-area h3 {
        font-size: 30px;
    }
}

body .content.news01 .page04 .page04-area p {
    font-size: 25px;
    font-weight: 400;
    margin: 0;
    font-family: 'NotoSerifKR';
}

@media (max-width: 1200px) {
    body .content.news01 .page04 .page04-area p {
        font-size: 15px;
    }
}

body .content.news01 .page04 .page04-area img {
    margin-top: 30px;
}

@media (max-width: 1200px) {
    body .content.news01 .page04 .page04-area img {
        width: 100%;
    }
}

body .content.news01 .page05 {
    position: relative;
}

@media (max-width: 1200px) {
    body .content.news01 .page05 {
        width: 100vw;
    }
}

body .content.news01 .page05 .bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

body .content.news01 .page05 .bg img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    background: #fff;
    opacity: 0.4;
}

body .content.news01 .page05 .swiper-container {
    width: 880px;
    height: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    overflow: hidden;
}

@media (max-width: 1200px) {
    body .content.news01 .page05 .swiper-container {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 1200px) {
    body .content.news01 .page05 .swiper-container .swiper-slide {
        padding: 50px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}

@media (max-width: 1200px) {
    body .content.news01 .page05 .swiper-container .swiper-slide img {
        width: 100%;
    }
}

body .content.news01 .page05 .swiper-container .swiper-slide p {
    font-size: 20px;
    padding: 0 20px;
}

@media (max-width: 1200px) {
    body .content.news01 .page05 .swiper-container .swiper-slide p {
        margin-top: 30px;
        font-size: 13px;
    }
}

body .content.news01 .page05 .swiper-prev,
body .content.news01 .page05 .swiper-next {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    z-index: 99;
    width: 60px;
    height: 50px;
    border: none;
}

@media (max-width: 1200px) {
    body .content.news01 .page05 .swiper-prev,
    body .content.news01 .page05 .swiper-next {
        width: 30px;
        height: 15px;
    }
}

body .content.news01 .page05 .swiper-prev.swiper-prev,
body .content.news01 .page05 .swiper-next.swiper-prev {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' style='fill: rgba(0, 0, 0, 1);transform: ;msFilter:;'%3E%3Cpath d='M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z'%3E%3C/path%3E%3C/svg%3E") no-repeat center/cover;
    left: 50%;
    margin-left: -550px;
}

@media (max-width: 1200px) {
    body .content.news01 .page05 .swiper-prev.swiper-prev,
    body .content.news01 .page05 .swiper-next.swiper-prev {
        left: 15px;
        margin-left: 0px;
    }
}

body .content.news01 .page05 .swiper-prev.swiper-next,
body .content.news01 .page05 .swiper-next.swiper-next {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' style='fill: rgba(0, 0, 0, 1);transform: ;msFilter:;'%3E%3Cpath d='M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z'%3E%3C/path%3E%3C/svg%3E") no-repeat center/cover;
    right: 50%;
    margin-right: -520px;
}

@media (max-width: 1200px) {
    body .content.news01 .page05 .swiper-prev.swiper-next,
    body .content.news01 .page05 .swiper-next.swiper-next {
        right: 15px;
        margin-right: 0px;
    }
}

body .content.news01 .page06 {
    position: relative;
}

body .content.news01 .page06 .bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

body .content.news01 .page06 .bg img {
    width: 100%;
    height: 100%;
    -o-object-fit: fixed;
    object-fit: fixed;
    background: #fff;
    opacity: 0.4;
}

body .content.news01 .page06 .page06-text {
    position: absolute;
    top: 10%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    text-align: center;
    width: 100%;
}

@media (max-width: 1200px) {
    body .content.news01 .page06 .page06-text {
        top: 20%;
    }
}

body .content.news01 .page06 .page06-text h3 {
    margin: 0;
    font-size: 60px;
}

@media (max-width: 1200px) {
    body .content.news01 .page06 .page06-text h3 {
        font-size: 20px;
    }
}

body .content.news01 .page06 .page06-text h4 {
    margin: 10px 0 0;
    font-size: 20px;
    font-weight: 500;
}

@media (max-width: 1200px) {
    body .content.news01 .page06 .page06-text h4 {
        margin: 5px 0 0;
        font-size: 11px;
    }
}

body .content.news01 .page06 .link-box {
    position: absolute;
    top: 30%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

@media (max-width: 1200px) {
    body .content.news01 .page06 .link-box {
        width: 100%;
        padding: 0 20px;
    }
}

body .content.news01 .page06 .link-box a {
    width: 500px;
    height: 70px;
    padding: 20px;
    font-size: 30px;
    background: #fff;
    color: #000;
    margin: 10px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: 2px solid #000;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

@media (max-width: 1200px) {
    body .content.news01 .page06 .link-box a {
        width: 100%;
        height: 55px;
        font-size: 13px;
    }
}

body .content.news01 .page06 .link-box a:hover {
    background: #444;
    color: #fff;
}

/*기사2*/


body .content.news02 .page01 {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

body .content.news02 .page01 .bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

body .content.news02 .page01 .bg img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

body .content.news02 .page01 h2 {
    text-align: center;
    font-size: 130px;
    color: #fff;
    margin: 10px 0;
    font-family: 'KOTRALEAP';
    font-weight: 500;
    z-index: 9;
}

@media (max-width: 1200px) {
    body .content.news02 .page01 h2 {
        font-size: 10vw;
    }
}

body .content.news02 .page02 {
    position: relative;
    height: auto;
}

body .content.news02 .page02 .page02-area {
    height: 100vh;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

body .content.news02 .page02 .page02-area .bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

body .content.news02 .page02 .page02-area .bg img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

@media (max-width: 1200px) {
    body .content.news02 .page02 .page02-area img {
        width: 350px;
    }
}

body .content.news02 .page02 .page02-area p {
    width: 470px;
    font-size: 30px;
    color: #fff;
    font-weight: 500;
}

@media (max-width: 1200px) {
    body .content.news02 .page02 .page02-area p {
        width: 320px;
        font-size: 20px;
    }
}

body .content.news02 .page02 .page02-area span {
    width: 700px;
    font-size: 25px;
    font-weight: 400;
    color: #fff;
    text-align: center;
}

@media (max-width: 1200px) {
    body .content.news02 .page02 .page02-area span {
        width: 350px;
        font-size: 15px;
    }
}

body .content.news02 .page03 {
    background: #000;
    position: relative;
    height: auto;
}

body .content.news02 .page03 .scroll-graphic2 {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 100vh;
    overflow-x: hidden;
    -webkit-transition: all 1s;
    transition: all 1s;
    opacity: 1;
}

body .content.news02 .page03 .scroll-graphic2 .bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

body .content.news02 .page03 .scroll-graphic2 .bg img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

body .content.news02 .page03 .scroll-graphic2.on {
    opacity: 0;
}

body .content.news02 .page03 .scroll-graphic2 .graphic-item2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 80%;
    height: 100vh;
    opacity: 0;
    -webkit-transition: 1s;
    transition: 1s;
    will-change: opacity;
}

@media (max-width: 1200px) {
    body .content.news02 .page03 .scroll-graphic2 .graphic-item2 {
        padding: 100px 10px 0;
    }
}

body .content.news02 .page03 .scroll-graphic2 .graphic-item2.visible {
    opacity: 1;
}

body .content.news02 .page03 .scroll-graphic2 .graphic-item2 div {
    background: rgba(0, 0, 0, 0.8);
    width: 1200px;
    padding: 30px;
}

@media (max-width: 1200px) {
    body .content.news02 .page03 .scroll-graphic2 .graphic-item2 div {
        padding: 50px 10px;
    }
}

body .content.news02 .page03 .scroll-graphic2 .graphic-item2 div p {
    color: #fff;
    margin: 0;
    font-size: 33px;
    text-align: center;
}

@media (max-width: 1200px) {
    body .content.news02 .page03 .scroll-graphic2 .graphic-item2 div p {
        font-size: 3vw;
    }
}

body .content.news02 .page03 .blank2 {
    height: 100vh;
}

body .content.news02 .page04 {
    background: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: all 2s;
    transition: all 2s;
}

@media (max-width: 1200px) {
    body .content.news02 .page04 {
        opacity: 1;
    }
}

body .content.news02 .page04 h3 {
    padding-top: 200px;
    font-size: 90px;
    color: #fff;
}

@media (max-width: 1200px) {
    body .content.news02 .page04 h3 {
        font-size: 40px;
    }
}

body .content.news02 .page05 {
    background: #000;
    position: relative;
    height: auto;
}

body .content.news02 .page05 .scroll-graphic3 {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 100vh;
    overflow-x: hidden;
    -webkit-transition: all 1s;
    transition: all 1s;
    opacity: 1;
}

body .content.news02 .page05 .scroll-graphic3 .bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

body .content.news02 .page05 .scroll-graphic3 .bg.on::before {
    content: '';
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

body .content.news02 .page05 .scroll-graphic3 .bg img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

body .content.news02 .page05 .scroll-graphic3.active {
    opacity: 0;
}

body .content.news02 .page05 .scroll-graphic3 .graphic-item3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    opacity: 0;
    -webkit-transition: 1s;
    transition: 1s;
    will-change: opacity;
}

@media (max-width: 1200px) {
    body .content.news02 .page05 .scroll-graphic3 .graphic-item3 {
        padding: 100px 10px 0;
    }
}

body .content.news02 .page05 .scroll-graphic3 .graphic-item3.visible {
    opacity: 1;
}

body .content.news02 .page05 .scroll-graphic3 .graphic-item3 p {
    text-align: center;
    color: #fff;
    margin: 0;
    font-size: 30px;
}

@media (max-width: 1200px) {
    body .content.news02 .page05 .scroll-graphic3 .graphic-item3 p {
        font-size: 16px;
    }
}

body .content.news02 .page05 .scroll-graphic3 .graphic-item3 img {
    width: 35%;
}

@media (max-width: 1200px) {
    body .content.news02 .page05 .scroll-graphic3 .graphic-item3 img {
        width: 300px;
    }
}

body .content.news02 .page05 .blank3 {
    height: 100vh;
}

body .content.news02 .page06 {
    background: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: all 2s;
    transition: all 2s;
}

body .content.news02 .page06 h3 {
    padding-top: 200px;
    font-size: 120px;
    color: #fff;
}

@media (max-width: 1200px) {
    body .content.news02 .page06 h3 {
        font-size: 50px;
    }
}

body .content.news02 .page07 {
    background: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-transition: all 2s;
    transition: all 2s;
}

@media (max-width: 1200px) {
    body .content.news02 .page07 {
        padding: 0 10px;
    }
}

body .content.news02 .page07 p {
    text-align: center;
    margin: 0;
    font-size: 30px;
    color: #fff;
}

@media (max-width: 1200px) {
    body .content.news02 .page07 p {
        font-size: 15px;
    }
}

body .content.news02 .page07 p:first-child {
    margin-top: 200px;
}

body .content.news02 .page08 {
    position: relative;
    height: auto;
}

body .content.news02 .page08 .scroll-graphic4 {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 100vh;
}

body .content.news02 .page08 .scroll-graphic4 .bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

body .content.news02 .page08 .scroll-graphic4 .bg img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

body .content.news02 .page08 .scroll-graphic4 .graphic-item4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 70%;
    height: 100vh;
    opacity: 0;
    -webkit-transition: 1s;
    transition: 1s;
    will-change: opacity;
}

@media (max-width: 1200px) {
    body .content.news02 .page08 .scroll-graphic4 .graphic-item4 {
        padding: 70px 10px 0;
    }
}

body .content.news02 .page08 .scroll-graphic4 .graphic-item4.visible {
    opacity: 1;
}

body .content.news02 .page08 .scroll-graphic4 .graphic-item4 p {
    margin: 0;
    font-size: 34px;
    color: #000;
    text-align: center;
    font-weight: 500;
}

@media (max-width: 1200px) {
    body .content.news02 .page08 .scroll-graphic4 .graphic-item4 p {
        font-size: 3vw;
    }
}

body .content.news02 .page08 .blank4 {
    height: 100vh;
}

body .content.news02 .page09 {
    height: auto;
    position: relative;
}

body .content.news02 .page09 .scroll-graphic5 {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 100vh;
}

body .content.news02 .page09 .scroll-graphic5 .bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

body .content.news02 .page09 .scroll-graphic5 .bg img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-filter: brightness(40%);
    filter: brightness(40%);
}

body .content.news02 .page09 .scroll-graphic5 .graphic-item5 {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100vh;
    opacity: 0;
    -webkit-transition: 1s;
    transition: 1s;
    will-change: opacity;
    display: none;
}

@media (max-width: 1200px) {
    body .content.news02 .page09 .scroll-graphic5 .graphic-item5 {
        padding: 0px 10px;
    }
}

body .content.news02 .page09 .scroll-graphic5 .graphic-item5.visible {
    opacity: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

body .content.news02 .page09 .scroll-graphic5 .graphic-item5 p {
    font-size: 40px;
    color: rgba(255, 255, 255, 0.6);
    margin: 0;
}

@media (max-width: 1200px) {
    body .content.news02 .page09 .scroll-graphic5 .graphic-item5 p {
        font-size: 4vw;
    }
}

body .content.news02 .page09 .scroll-graphic5 .graphic-item5 h3 {
    font-size: 70px;
    color: #fff;
    font-weight: 800;
    margin: 0;
}

@media (max-width: 1200px) {
    body .content.news02 .page09 .scroll-graphic5 .graphic-item5 h3 {
        font-size: 5vw;
    }
}

body .content.news02 .page09 .scroll-graphic5 .graphic-item5 .link-box {
    margin-top: 50px;
    display: block;
    width: 838px;
    height: 605px;
}

@media (max-width: 1200px) {
    body .content.news02 .page09 .scroll-graphic5 .graphic-item5 .link-box {
        width: 350px;
        height: 250px;
    }
}

body .content.news02 .page09 .scroll-graphic5 .graphic-item5 .link-box img {
    width: 100%;
}

body .content.news02 .page09 .scroll-graphic5 .graphic-item5 .link-box iframe {
    display: block;
    width: 838px;
    height: 605px;
}

@media (max-width: 1200px) {
    body .content.news02 .page09 .scroll-graphic5 .graphic-item5 .link-box iframe {
        width: 350px;
        height: 250px;
    }
}

body .content.news02 .page09 .blank5 {
    height: 100vh;
}

